*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

ul{
    list-style: none;
}

header{
    position: sticky;
    top: 0;
}

header .navBar{
    background-color: olive;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 20px;
}

header .navBar .listaNav{
    display: flex;
    flex-wrap: wrap;
}

header .navBar .listaNav .itemNav a{
    color: salmon;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}

main .banner{
    width: 100%;
}

.cont_fiambres{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cont_fiambres .fiambre{
    width: 15rem;
    height: 20rem;
    padding: 1rem;
    background-color: olive;
    border-radius: 30px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.cont_fiambres .fiambre .botones .b_comprar{
    background-color: coral;
    
}

footer{
    display: flex;
    margin: 0 10% ;
    justify-content: center;
}